@font-face {
	font-family: Lexend;
	/*
	src: url(font/Lexend-Regular.ttf);
	Changed to adhere to Github.io file structure
	*/
	src: url(../DDO-Class-Randomizer/font/Lexend-Regular.ttf);
}
@font-face {
	font-family: Dyslexic;
	/*
	src: url(font/OpenDyslexic-Regular.otf);
	/*Changed to adhere to Github.io file structure
	*/
	src: url(../DDO-Class-Randomizer/font/OpenDyslexic-Regular.otf);
}
#reg-font {
	font-family: Lexend;
	padding-top: 14px;
	padding-bottom: 15px;
}
#dylex-font {
	font-family: Dyslexic;
}
body {
	max-width: 900px;
	margin: auto;
	width: 100%;
	overflow-x: hidden;
	color: #ccb554;
	font-family: Lexend;
}
body.dyslex {
	max-width: 900px;
	margin: auto;
	width: 100%;
	overflow-x: hidden;
	color: #ccb554;
	font-family: Dyslexic;
}
* {
	margin: auto;
}
img {
	width: 50px;
	height: 50px;
}
.grid-container {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	min-width: 4 * 70px;
	max-width: 100%;
}
.notSelected {
	opacity: 0.3;
}
.Free {
	background-color: lightblue;
	padding: 10px;
}
.Prem {
	background-color: #fc7b7b;
	padding: 10px;
}
.Prem#Iconics {
	background-color: orange;
}
.Selected {
	opacity: 100%;
}
.block {
	display: flex;
	align-items: center;
	justify-content: center;
}
.buttons {
	width: fit-content;
	padding: 10px;
}
.buttons#level-opts {
	display: flex;
	justify-content: space-between;
	width: auto;
}
.first,
.mid,
.last {
	margin-right: 10px;
	background-color: transparent;
	border: 1px solid gray;
	border-radius: 3px;
	font-size: medium;
	color: white;
	padding: 8px;
}
.first:hover,
.mid:hover,
.last:hover {
	background-color: #272b33;
}
#title {
	font-size: 2em;
}
h1,
h2,
h3,
h4 {
	text-align: center;
}
#bot-part {
	position: relative;
	bottom: 0;
}
p {
	margin-right: 4px;
}
#rand_finished {
	min-width: 70%;
	max-width: 70%;
	text-align: right;
	border: 1px solid #ccb554;
}
.table_top {
	border: 2px dotted #ccb554;
	min-width: 25%;
}
